@media screen and (min-width: 650px) and (max-width: 900px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav ul {
        display: flex;
        justify-content: center;
        margin-top: 1.5em;

        li {
            margin: 0 1em;
        }

    }
}