@media screen and (max-width: 700px) {

    body {
        text-align: center;
    }

    .cols p {
        text-align: center;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .col-sm-12 {
        width: 95%;
    }
}